<ion-header [translucent]="true">

    <ion-buttons slot="start">
      <ion-menu-button style="color: #F3AE97A3"></ion-menu-button>
      <ion-button class="search"
                  routerLink="/search">
        <ion-icon style="color: #F3AE97A3" name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title class ="title" size="large">
    Smart
  </ion-title>
  <ion-title style="height: 145px" class ="title" size="large">
    Shopper
  </ion-title>
  <img class="logo" src="assets/Logo.png" alt="your image">

</ion-header>

<ion-content scrollY="true" [fullscreen]="true">
  <h1 class="promotion">Promotions</h1>
<!--  <ion-label class="filter">Filter:</ion-label>-->
  <ion-select (ionChange)="onServiceChange($event)" label="Filter:" class="filter">
    <ion-select-option value="s1">Dirk</ion-select-option>
    <ion-select-option value="s2">Spar</ion-select-option>
    <ion-select-option value="s3">AH</ion-select-option>
  </ion-select>


    <ion-list>
      <ion-item *ngFor="let product of products">
        <ion-thumbnail slot="start">
          <img [src]="product.image" alt="my image">
        </ion-thumbnail>
        <ion-label>
          <h2>{{product.name}}</h2>
          <p>€{{product.newprice.includes('.') ? product.newprice : '0.' + product.newprice}}</p>
          <p class="oldPrice">{{product.oldprice | currency: "EUR"}}</p>
        </ion-label>
        <ion-button slot="end" [href]="product.link" target="_blank">View site</ion-button>
      </ion-item>

    </ion-list>

</ion-content>
