<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: #F3AE97A3" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm"(ionInput)="search()"
      debounce="500"
      color="light"
      placeholder="Enter keyword..."
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">search</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let item of searchResults">
        <ion-card>
          <ion-thumbnail>
          <ion-img src="{{ item.logo }}" alt=" My Image" ></ion-img>
          </ion-thumbnail>
          <ion-card-content>
            <h4>{{item.supermarket}}</h4>
            <ion-card-title>{{ item.name }}</ion-card-title>
            <ion-card-subtitle>{{ item.price | currency: "EUR" }}</ion-card-subtitle>
            <ion-button fill="clear" slot="end"  (click)="addToWishlist(item)">
              <ion-icon name="star-outline" style="color: #F3AE97A3"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="round-button">
    <ion-button  shape="round" color="secondary" size="large" href="/tab2" >
      <ion-icon name="heart-circle-outline"></ion-icon>
      <div class="wishlist-count" *ngIf="wishlistItemCount > 0">{{ wishlistItemCount }}</div>
    </ion-button>
  </div>
</ion-content>
<router-outlet></router-outlet>
